<h4>
  Posted By: <em>Anonymous at <%= @post.created_at.ctime %></em>
  <%= @post.prayers.count %> have prayed for this.
  <br>
  <% if Prayer.all.where(:user_id => current_user.id, :post_id => @post.id).empty? %>
    <%= link_to "Click to show that you prayed for this!", post_pray_path(@post) %>
  <% else %>
    <%= "you prayed for this" %>
  <% end %>

</h4>
<p><%= @post.body %></p>
<br>
<% if @post.comments %>
  Comments:
  <br><br>
  <% @post.comments.each_with_index do |comment, i| %>
    <%= render partial: 'shared/comment_show', :locals => { :comment => comment, :i => (i + 1) } %>
  <% end %>
  <br>
<% end %>
<%= render partial: 'shared/comment_form' %>
