<!DOCTYPE html>
<html>
<head>
  <title>Day2PrayerWall</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div>
    <h6>
      <% if logged_in? %>
        <%= "Logged in #{current_user.email}" %>
        <%= link_to '[logout]', logout_path %>
      <% else %>
        Currently logged out
        <%= link_to '[login]', login_path %>
      <% end %>
    </h6>
  </div>

  <%= yield %>

</body>
</html>
